/* =========================================
   FUNDO PYTHON
========================================= */

.background {
    background:
        radial-gradient(
            circle at top left,
            rgba(59, 130, 246, 0.10),
            transparent 30%
        ),

        radial-gradient(
            circle at bottom right,
            rgba(234, 179, 8, 0.15),
            transparent 30%
        );
}

/* =========================================
   HEADER
========================================= */

.content-header h1 {
    color: #3776ab;
}

/* =========================================
   CARDS
========================================= */

.info-card,
.snippet-card {
    border: 1px solid rgba(234, 179, 8, 0.10);
}

/* =========================================
   TITULOS
========================================= */

.info-card h2,
.snippet-top h2,
.topic-box h3 {
    color: #3776ab;
}

/* =========================================
   LISTAS
========================================= */

.info-card li {
    background: rgba(234, 179, 8, 0.12);
}

/* =========================================
   BOXES
========================================= */

.topic-box {
    background: rgba(255, 255, 255, 0.9);

    border: 1px solid rgba(234, 179, 8, 0.10);
}

.topic-box:hover {
    box-shadow:
        0 10px 20px rgba(234, 179, 8, 0.15);
}

/* =========================================
   VANTAGENS
========================================= */

.advantage-item {
    background: rgba(234, 179, 8, 0.10);
}

.advantage-item:hover {
    background: rgba(234, 179, 8, 0.18);
}

/* =========================================
   BOTÃO
========================================= */

.copy-btn {
    background: linear-gradient(
        135deg,
        #3776ab,
        #2563eb
    );
}

.copy-btn:hover {
    box-shadow:
        0 8px 20px rgba(37, 99, 235, 0.25);
}

/* =========================================
   CÓDIGO
========================================= */

pre {
    background: #1e293b;
}